<launch>
   <!-- launch the /cmd_vel, /odom,/tf -->
	<include file="$(find unitree_legged_real)/launch/real.launch"></include>
        <node name="control_mode" pkg="unitree_legged_real" type="control_mode" respawn="false" output="screen"></node>   
	<node name="odom_node" pkg="unitree_legged_real" type="odom_node" respawn="false" output="screen"></node>
  <!-- launch the rplidar-->
	<include file="$(find rplidar_ros)/launch/rplidar_s1.launch"></include>
   <!-- launch the realsense-->
        <!--include file="$(find realsense2_camera)/launch/rs_camera.launch"></include>
   <!-- launch the depthtopc-->
        <include file="$(find realsense2_camera)/launch/depthimgTopc.launch"></include>
   <!-- launch the pointcloud to laser-->
        <include file="$(find unitree_a1)/launch/pointToLaserScan.launch"></include-->
</launch>
