
<launch>

 <master auto="start"/> 

    <param name="robot_description" command="$(find xacro)/xacro '$(find tracer_description)urdf/tracer_v1.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>	
 <!-- Run the map server --> 
 <node name="map_server" pkg="map_server" type="map_server" args="$(find mapdata)/map/roommap_third.yaml">
 </node> 
 <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom"/>
 <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0 0 0 0  odom base_link"/>
 <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0  base_link laser"/>
 
 <!--- Run AMCL -->    
 <node pkg="amcl" type="amcl" name="amcl" output="screen">
       <rosparam command="load"	file="$(find tracer_2dnav)/config/amcl_params_tf.yaml"/>
 </node>

 <!--- Run Waypoints -->
 <include file="$(find orne_waypoints_editor)/launch/edit_waypoints_viz.launch"></include>



 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   <rosparam file="$(find tracer_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
   <rosparam file="$(find tracer_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" /> 
   <rosparam file="$(find tracer_2dnav)/config/local_costmap_params.yaml" command="load" />
   <rosparam file="$(find tracer_2dnav)/config/global_costmap_params.yaml" command="load" /> 
   <rosparam file="$(find tracer_2dnav)/config/base_local_planner_params.yaml" command="load" />      
  
   <!--param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /-->
   <!--param name="TebLocalPlannerROS/include_costmap_obstacles" value="False" /-->
   <!--param name="TebLocalPlannerROS/include_dynamic_obstacles" value="True" /-->
 </node>
</launch>
