<launch>
   <!-- launch the /cmd_vel, /odom,/tf -->
	<!--include file="$(find tracer_bringup)/launch/tracer_robot_base.launch"></include-->
   <!-- launch the rplidar-->
	<include file="$(find rplidar_ros)/launch/rplidar.launch"></include>
   <!-- launch the realsense-->
        <include file="$(find realsense2_camera)/launch/rs_camera.launch"></include>
   <!-- launch the WEBCOM-->
        <include file="$(find image_publisher)/launch/depthimgTopc.launch"></include>
</launch>
